body {
    background: #009999;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    opacity: 50%;
    /*align-content: inherit;*/
    /*位置在页面右边*/
    position: absolute;
    right: 8%;

}

html {
    font-family: Arial, sans-serif;
    /*background-color: rgb(177,196,077);*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./img/DHLG.jpg");
    background-size: cover;
    background-position: right bottom;
}

div h1 {
    font-size: 1.5em;
    color: rgb(036, 050, 088);
    text-align: center;
    opacity: 1;
}

#loginPlace {}

#LoginForm {}

#LoginForm input {
    opacity: 3;
    width: 275px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #CCCCFF;
    border: 0;
}

#LoginForm button {
    opacity: 1;
    width: 145px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #66CCCC;
    border: 0;
}

#varifyKeyInput {
    align-items: flex-start;
}

#varify-key {
    vertical-align: top;
    opacity: 3;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    border: 0;

}

/*#popDiv{*/

/*    opacity: initial;*/
/*    align-content: initial;*/

/*    font-family: initial;*/


/*    padding: initial;*/

/*    justify-content: initial;*/
/*    align-items: initial;*/

/*    !*display: block;*!*/
/*    //display: none;*/
/*    background-color: crimson;*/
/*    z-index: 11;*/
/*    width: 70%;*/
/*    height: 80%;*/
/*    position:fixed;*/
/*    top:0;*/
/*    right:0;*/
/*    left:0;*/
/*    bottom:0;*/
/*    margin:auto;*/
/*    border-radius: 10px 10px 5px 5px;*/
/*    box-shadow: 0 0 10px #000;*/

/*}*/
/*.banner{*/
/*    height: 50px;*/
/*    border-radius: 10px 10px 0 4px;*/
/*    z-index: 12;*/
/*    background-color: #eda552;*/
/*}*/
/*!* 关闭按钮样式 *!*/
/*#popDiv .close a {*/
/*    text-decoration: none;*/
/*    color: #2D2C3B;*/
/*}*/
/*!* 弹出界面的关闭按钮 *!*/
/*#popDiv .close{*/
/*    position: sticky;*/
/*    display: inline-block;*/
/*    float: right;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-70%);*/
/*}*/
/*.banner .title*/
/*{*/
/*    position: relative;*/
/*    font-size: x-large;*/
/*    display: inline-block;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/
/*#popMain{*/
/*    position: relative;*/
/*    height: 80%; !* Adjust the percentage as needed *!*/
/*    max-height: 88%; !* Add max-height property *!*/
/*    width: 100%;*/
/*    border-radius: 0 0 10px 10px;*/
/*    overflow: auto;*/
/*}*/
/*#popMian p{*/
/*    text-align: center;*/
/*    font-size: large;*/
/*    border-radius: 0 0 10px 10px;*/
/*    overflow: auto;*/
/*}*/